@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  margin: 0;
  padding: 0;
}
.page1{
  width: 970px;
    height: 1390px;
    background-color: green;
    margin: 20px;
    padding: 10px 5px 30px 0;
   
}
.page1 article{
  width: 200px;
  height: 200px;
  margin: 0 30px 20px 80px;
  background-color: blue;
  display:inline-block;
}
.page1 article>p{
  width: 200px;
  height: 200px;
  background-color: bisque;
  border-radius: 50%;
}
.page1 footer{
  width: 250px;
  height: 250px;
  margin: 0 30px 20px 150px;
  background-color: yellow;
  display:inline-block;
}
.page1 footer>div{
  width: 250px;
  height: 250px;
  background-color: peru;
  border-radius: 50%;
}
.page1>aside{
  width: 900px;
    height: 500px;
    background-color: white;
    margin: 20px;
    padding: 10px 5px 30px 0;
}

.page1 aside>li{
  width: 200px;
  height: 400px;
  margin: 0 30px 20px 10px;
  background-color: blue;
  display:inline-block;

}
.page1 aside>li>nav{
  width: 100px;
  height: 100px;
  margin: 0 30px 20px 35px;
  background-color: black;
  display:center;

}
.page1 aside>li>nav>li>div{
  width: 50px;
  height: 50px;
  background-color:red;
  border-radius: 50%;
}
nav{
  background-color: #FF1744;
  text-align: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a{
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.active{
  background-color: blueviolet;
}


/*PAGINA 2 */

/* ARRIBA*/
.page2{
  width: 970px;
    height: 1390px;
    background-color: green;
    margin: 20px;
    padding: 10px 5px 30px 0;
   
}
.page2 section{
  width: 250px;
  height: 250px;
  margin: 0 30px 20px 80px;
  background-color: blue;
  display:inline-block;
}
.page2 section div{
  width: 100px;
  height: 100px;
  background-color: bisque;
  display: inline-block;
  border-radius: 50%;
  margin: auto;
}
.page2 div{
  width: fit-content;
  margin: auto;
}
/*PARTE DEL MEDIO*/
.page2 div footer{
  background-color: red;
  width: 300px;
  height: 230px;
  display: inline-block;
  margin: 10px 110px ;
  padding-left: 10px;
}
.page2 div section{
  width: 140px;
  height: 140px;
  background-color: bisque;
  display: inline-block;
  border-radius: 50%;
  margin: 50px 0px;
}

/*PARTE DE ABAJO*/
.page2 nav{
  width: 120px;
  height: 200px;
  background-color: bisque;
  display: inline-block;
  margin: 50px;
}
.page2 nav section{
  width: 100px;
  height: 160px;
  background-color: red;
  margin: 20px 10px ;
  border-radius: 45%;
}
.page2 aside{
  width: 180px;
  height: 200px;
  background-color: red;
  display: inline-block;
  margin: 10px  ; 
}
.page2 aside section{
  width: 85px;
  height: 85px;
  background-color: bisque;
  display: inline-block;
  border-radius: 50%;
  margin: 9px 1px;
}

/*PAGINA 3 */
.page3{
  width: 970px;
    height: 1390px;
    background-color: green;
    margin: 20px;
    padding: 10px 5px 30px 0;
   

}
.page3 section>div{
  width: 200px;
  height: 200px;
  margin: 0 0px 20px 130px;
  background-color: blue;
  display: inline-block;
}
.page3 section>div>footer{
  width: 100px;
  height: 100px;
  margin:50px;
  background-color: red;
  display: inline-block;
}

.page3 section>div>footer>nav{
  width: 30px;
  height: 40px;
  background-color: yellowgreen;
  border-radius: 50%;
  display: inline-block;
}
.page3 section>div>footer>main{
  width: 20px;
  height: 15px;
  margin:20px 11px 0 0;
  background-color:black;
  display: inline-block;
}
.page3 section>div>footer>main>aside{
  width: 20px;
  height: 15px;
  background-color:green;
  border-radius: 50%;
  display: inline-block;
}
.page3 main{
  width: 500px;
  height: 200px;
  margin: 0 0px 20px 130px;
  background-color: yellow;
  display: inline-block;
}
.page3 main>footer{
  width: 400px;
  height: 180px;
  margin:11px 15px 15px 50px;
  background-color: red;
}
.page3 main>footer>aside{
  width: 103px;
  height: 150px;
  margin: 11px 15px 50px;
  background-color: black;
  display: inline-block;
}