@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  margin: 0;
  padding: 0;
}
main{
  width: 970px;
    height: 1390px;
    background-color: green;
    margin: 20px;
    padding: 10px 5px 30px 0;
   
}
main article{
  width: 200px;
  height: 200px;
  margin: 0 30px 20px 10px;
  background-color: blue;
  display:inline-block;
}
main article>p{
  width: 200px;
  height: 200px;
  background-color: bisque;
  border-radius: 50%;
}
main footer{
  width: 250px;
  height: 250px;
  margin: 0 30px 20px 10px;
  background-color: yellow;
  display:inline-block;
}
main footer>div{
  width: 250px;
  height: 250px;
  background-color: peru;
  border-radius: 50%;
}
main>aside{
  width: 900px;
    height: 500px;
    background-color: white;
    margin: 20px;
    padding: 10px 5px 30px 0;
}

main aside>li{
  width: 200px;
  height: 500px;
  margin: 0 30px 20px 20px;
  background-color: pink;
display:inline-block;
}
  main aside>li>section{
    width: 200px;
    height: 500px;
    margin: 0px 30px 20px 250px;
    background-color: red;
    display:inline-block;
  }
  main aside>li>section>nav{
    width: 200px;
    height: 500px;
    margin: 0px 30px 20px 300px;
    background-color: yellow;
    display:inline-block;
  }
 
main aside>li>section>nav>did{
width: 30px;
height: 30px;
margin: 0 30px 20px 10px;
background-color: black;
display:inline-block;
}

nav{
  background-color: #FF1744;
  text-align: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a{
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.active{
  background-color: blueviolet;
}


/*PAGINA 2 */


main>section>div{
  width: 105px;
  height: 105px;
  background-color: bisque;
  display: inline-block;
  border-radius: 50%;
  margin: auto;
}

/*PARTE DEL MEDIO*/
main>footer{
  background-color: red;
  width: 300px;
  height: 230px;
  display: inline-block;
  margin: 10px 110px ;
  padding-left: 10px;
}
main>footer>section{
  width: 140px;
  height: 140px;
  background-color: bisque;
  display: inline-block;
  border-radius: 50%;
  margin: 50px 0px;
}

/*PARTE DE ABAJO*/
main>nav{
  width: 120px;
  height: 200px;
  background-color: bisque;
  display: inline-block;
  margin: 10px 5px ; 
}
main>nav>section{
  width: 100px;
  height: 160px;
  background-color: red;
  margin: 20px 8px ;
  border-radius: 45%;
}
main>aside{
  width: 180px;
  height: 200px;
  background-color: red;
  display: inline-block;
  margin: 10px 5px ; 
}
main>aside>section{
  width: 85px;
  height: 85px;
  background-color: bisque;
  display: inline-block;
  border-radius: 50%;
  margin: 8.7px 1px;
}

